@{
    ViewData["Title"] = "Deliver";
}
   
<div class="image-container">
    <img src="211006114659-best-meal-delivery-service-factor.jpg" />
</div>
<h1>Welcome to Deliver</h1>
<p>
    Welcome to our delivery service, where we make your life easier by bringing your needs directly
    to your doorstep. Whether it's groceries, meals, packages, or more, we've got you covered.
</p>
<p>
    We pride ourselves on our prompt and efficient delivery service.
    We understand your time is valuable, so we work tirelessly to get your
    items to you as quickly as possible.
</p>
