@{
    ViewData["Title"] = "Asortiment";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/anortiment.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Deliver.styles.css" asp-append-version="true" />
<h1>Asortiment here</h1>
<div>
    <block>
        <p>name</p>
        <p>Dercription huashduh</p>
        <p>Cost </p>
        <div class="block">
        <button>Order</button>
        </div>
    </block>
    <block>
        <p>name</p>
        <p>Dercription huashduh</p>
        <p>Cost </p>
        <div class="block">
            <button>Order</button>
        </div>
    </block>
    <block>
        <p>name</p>
        <p>Dercription huashduh</p>
        <p>Cost </p>
        <div class="block">
            <button>Order</button>
        </div>
    </block>
    <block>
        <p>name</p>
        <p>Dercription huashduh</p>
        <p>Cost </p>
        <div class="block">
            <button>Order</button>
        </div>
    </block>   
</div>
